DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"
ADMIN_EMAIL=lottolojo@gmail.com
ADMIN_INITIAL_PASSWORD=veranderdit
EMAIL_FROM=lottolojo@gmail.com
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=lottolojo@gmail.com
EMAIL_PASS=veranderdit
